body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Heebo", serif;
    font-size: 62.5%;
    background-color: #282A36;
}

header{
    margin-bottom: 5vh;
}

.menu-icon{
    cursor: pointer;
    display: block;
    margin: 3vh 0 0 90vw;
    width: 30px;
}

.menu-links.active {
    display: flex; /* Mostra os links quando o menu está ativo */
}

.menu-links {
    display: none; /* Esconde os links por padrão em dispositivos móveis */
    flex-direction: column;
    /* position: absolute;
    top: 60px; 
    left: 0;
    width: 100%; */
    background-color: #44475A;
    padding: 10px 0;
}

.nav-link{
    color: #F8F8F2;
    margin-left: 5vw;
    font-size: 1.6rem;
}

.profile-picture{
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    max-width: 50%;
    filter: drop-shadow(-10px 13px 4px #6272A4);
}

.page-title{
    color: #F8F8F2;
    font-size: 3.2rem;
    width: 80%;
    display: block;
    margin: 5vh auto;
    font-weight: 700;
    text-align: center;
}

.page-description{
    color: #F8F8F2;
    font-size: 1.6rem;
    padding: 0 2vw;
    text-align: center;
}

.download-button{
    margin: 0 auto;
    width: 55vw;
    background-color: #FF79C6;
    color: #F8F8F2;
    display: block;
    font-size: 2rem;
    text-decoration: none;
    border-radius: 2px;
    text-align: center;
}

.section-divider {
    border: 0; /* Remove a borda padrão do <hr> */
    height: 1px; /* Define a altura da linha */
    background-color: #F8F8F2; /* Define a cor da linha */
    margin: 5vh 10vw; /* Adiciona margem acima e abaixo da linha */
}

.section-subtitle{
    font-size: 1.8rem;
    color: #F8F8F2;
    text-align: center;
    display: block;
}

.projects-list{
    width: 90vw;
    display: block;
    margin: 0 auto;
}

.project-container{
    margin: 5vh 0;
}

.project-img{
    width: 80%;
    display: block;
    margin: 0 auto;
}

.project-title{
    color: #F8F8F2;
    font-size: 2.4rem;
    display: block;
    margin: 2vh auto 0;
    text-align: start;
}

.project-type{
    color: #BD93F9;
    font-size: 1.6rem;
}

.project-description{
    font-size: 1.6rem;
    color: #F8F8F2;
    text-align: start;
}

.project-anchor{
    color: #50FA7B;
    font-size: 1.6rem;
    display: block;
    text-align: center;
}

.social-links-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    margin: 0 auto;
    padding: 0;
}

.footer-list{
    list-style: none;
}

.footer-p{
    font-size: 1.4rem;
    text-align: center;
    display: block;
    color: #F8F8F2;
}

.social-logos{
    width: 12vw;
}

@media (min-width: 769px) {
    .menu-icon{
        display: none;
    }
    
}