body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Heebo", serif;
    font-size: 62.5%;
    background-color: #282A36;
    overflow-x: hidden;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

header, main, section {
    animation: slideInFromRight 0.6s ease-out forwards;
    opacity: 0; /* Inicia invisível */
}

header {
    animation-delay: 0.2s;
}

main {
    animation-delay: 0.4s;
}

section {
    animation-delay: 0.6s;
}

header{
    margin-bottom: 5vh;
}

.menu-icon{
    cursor: pointer;
    display: block;
    margin: 3vh 0 0 90vw;
    width: 6vw;
}

.menu-links {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s ease-in-out;
}

.menu-links.active {
    max-height: 500px;
}

.nav-link{
    color: #F8F8F2;
    margin-left: 5vw;
    font-size: 1.6rem;
}

.profile-picture{
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    max-width: 50%;
    filter: drop-shadow(-10px 13px 4px #6272A4);
}

.page-title{
    color: #F8F8F2;
    font-size: 3.2rem;
    width: 80%;
    display: block;
    margin: 5vh auto;
    font-weight: 700;
    text-align: center;
}

.page-description{
    color: #F8F8F2;
    font-size: 1.6rem;
    padding: 0 2vw;
    text-align: center;
}

.download-button{
    margin: 0 auto;
    width: 55%;
    background-color: #FF79C6;
    color: #F8F8F2;
    display: block;
    font-size: 2rem;
    text-decoration: none;
    border-radius: 2px;
    text-align: center;
}

.section-divider {
    border: 0;
    height: 1px;
    background-color: #F8F8F2;
    margin: 5vh 10vw;
}

.section-subtitle{
    font-size: 1.8rem;
    color: #F8F8F2;
    text-align: center;
    display: block;
}

.projects-list{
    width: 90vw;
    display: block;
    margin: 0 auto;
    padding: 0;
}

.project-container{
    margin: 5vh 0;
    background-color: #44475A;
    padding: 3vh 2vw;
    border-radius: 2px;
}

.project-img{
    width: 80%;
    display: block;
    margin: 0 auto;
    border-radius: 6px;
}

.project-title{
    color: #F8F8F2;
    font-size: 2.4rem;
    display: block;
    margin: 2vh auto 0;
    text-align: start;
}

.project-type{
    color: #BD93F9;
    font-size: 1.6rem;
}

.project-description{
    font-size: 1.6rem;
    color: #F8F8F2;
    text-align: start;
}

.project-anchor{
    color: #50FA7B;
    font-size: 1.6rem;
    display: block;
    text-align: start;
}

.social-media>ul{
    padding: 0;
}

.social-links-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    padding: 0;
}

.footer-list{
    list-style: none;
}

.footer-p{
    font-size: 1.4rem;
    text-align: center;
    display: block;
    color: #F8F8F2;
}

.social-logos{
    width: 12vw;
}

.project-divider{
    display: none;
}

@media (min-width: 769px) {
    .menu-icon{
        display: none;
    }

    .menu-links, .menu-links.active {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style: none;
        margin: 4vh 0;
        padding: 0 5vw;
        max-height: fit-content;
    }

    .nav-link{
        text-decoration: none;
    }

    .whoim{
        padding: 10vh 0;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }

    .whoim-container{
        width: 40vw;
        align-items: flex-start;
    }

    .profile-picture{
        margin: 0;
    }

    .page-title{
        margin: 0;
        text-align: start;
    }

    .page-description{
        margin: 3vh 0;
        padding: 0;
        text-align: start;
    }

    .download-button{
        margin: 0;
        max-width: 30%;
    }

    #projects, #social-media{
        width: 75vw;
        display: block;
        margin: 0 auto;
    }

    .section-subtitle{
        text-align: start;
    }

    .project-container{
        display: flex;
        background-color: #282A36;
    }
    
    .project-img{
        width: 22%;
        margin: 0;
    }

    .card-description{
        display: flex;
        flex-direction: column;
        margin: 0 2vw;
    }

    .project-title, .project-type, .project-description{
        text-align: start;
    }

    .project-title{
        margin: 0;
    }

    .project-description{
        max-width: 50vw;
    }

    .project-divider {
        display: block;
        width: 50vw;
        border: 0;
        height: 1px;
        background-color: #F8F8F2;
        margin: 5vh 10vw;
    }

    .social-links-container{
        justify-content: center;
    }

    .social-logos{
        width: 3vw;
    }

    .mail{
        margin: 0 2vw;
    }
}